
<section class="registration">
  <div class="col-md-4 col-sm-4">
  </div>
  <div class="col-md-4 col-sm-4">
    <h2>Создать новый профиль</h2>
    <div class="linck_to_sign_in">Уже зарегистрированы? <a href="">Войти</a></div>

    <form action="">
      <div class="lable">Ваша электронная почта</div>
      <input type="text" placeholder="user@gmail.com" name="email"/>
      <div class="lable">Как Вас зовут?</div>
      <input type="text" placeholder="Имя" name="name" id="name"/>
      <input type="text" placeholder="Фамилия" name="sname" id="sname"/>
      <div class="lable">Выберите Ваш город</div>
      <select name="" id="">
        <option value="">Не выбран</option>
        <option value="">Исфара</option>
        <option value="">Худжант</option>
      </select>

      <div class="lable">Ваш ИНН</div>
      <input type="text" placeholder="12 цифр без пробела" name="inn" />

      <div class="lable">Прикрепите подтверждающий документ</div>
      <input type="file" value="Выберите файл" id="open_file_btn"/>
      <button>Выберите файл</button> <span>Файл не выбран</span>

      <div class="lable">Придумайте пароль</div>
      <input type="text" placeholder="Не менее 6 символов" name="inn" />

      <button id="registration_btn" type="submit">Зарегистрироваться</button>

    </form>
  </div
  ><div class="col-md-4 col-sm-4">
  </div>
  <div class="clear"></div>
</section>
