<section class="about">
  <div class="col-md-3 col-sm-3">
    <%= render 'layouts/menu' %>

    <div class="question">
      <div class="question_headling">
        <div class="question_icon"></div>
        <h2>Есть вопросы?</h2>
        <p>Мы вам поможем!</p>
      </div>
      <button>Задать вопрос</button>
    </div>

  </div>
  <div class="col-md-9 col-sm-9">
    <div class="katalog_link">
      <a href="" id="katalog_link_to_main"></a><a href="">О Компании</a>
    </div>
    <div class="clear"></div>

    <div class="headling">О компании</div>

    <%= image_tag 'about.jpg' %>

    <p>Компания ШЁЛКОВЫЙ ПУТЬ – крупнейший поставщик комплексных решений для промышленных предприятий России.
      Мы оснащаем предприятия всем необходимым, выполняя функции внешнего отдела снабжения.
    </p>

    <p>Наша компания поставляет автоматизированные системы управления, контрольно-измерительные приборы, вычислительную технику,
      аналитические приборы, лабораторное и весовое оборудование, расходные материалы и многое другое.
      Ассортимент поставляемой нами продукции постоянно растет и сейчас включает в себя несколько тысяч позиций.
    </p>

    <p>
      Уже более двухсот компаний-производителей являются нашими партнёрами.
      Среди них такие компании как Mettler Toledo, Siemens, Fuji Electric, IBM, HP.
    </p>

    <div class="why_we">
      <h2>Почему именно мы?</h2>

      <ul>
        <li><span>Качественные продукты</span> </li>
        <li><span>Большой масштаб покрытия</span></li>
        <li><span>Постоянное пополнение</span></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>

</section>