<section class="main_page">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <%= render 'layouts/menu' %>

      <div class="question">
        <div class="question_headling">
          <div class="question_icon"></div>
          <h2>Есть вопросы?</h2>
          <p>Мы вам поможем!</p>
        </div>
        <button>Задать вопрос</button>

      </div>
    </div>
    <div class="col-md-9 col-sm-9">
      <div class="slider_container">
        <div class="slide" style="background-image: url('assets/slider_1.jpg')">
          <div class="slider_headling">
            <h2>УДИВИТЕЛЬНЫЙ ВКУС, НАСТОЯЩЕЕ КАЧЕСТВО</h2>
          </div>
          <div class="slider_desctription">
            <p>Через 12 месяцев мы запускаем выпуск продукции под собственной торговой маркой.
              Наши технологи отобрали двадцать уникальных рецептов на основе натуральных
              ингредиентов.</p>
          </div>
        </div>
        <div class="slide" style="background-image: url('assets/slider_2.jpg')">
          <div class="slider_headling">
            <h2>УДИВИТЕЛЬНЫЙ ВКУС, НАСТОЯЩЕЕ КАЧЕСТВО</h2>
          </div>
          <div class="slider_desctription">
            <p>Через 12 месяцев мы запускаем выпуск продукции под собственной торговой маркой.
              Наши технологи отобрали двадцать уникальных рецептов на основе натуральных
              ингредиентов.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="headling">ЛУЧШИЕ ТОВАРЫ</div>
  <div class="row best_products">

    <div class="col-md-3 col-sm-3">

        <div class="best_product">
          <h3>Яблоки Голден</h3>
          <div class="product_photo">

          </div>

          <div class="product_price">100 руб./кг</div>
          <div class="product_adress">Место склада: <span>Кемерово</span></div>
        </div>
        <div class="more_broduct"><a href="">Больше товаров</a></div>

    </div>
    <div class="col-md-3 col-sm-3">

        <div class="best_product">
          <h3>Яблоки Голден</h3>
          <div class="product_photo">

          </div>

          <div class="product_price">100 руб./кг</div>
          <div class="product_adress">Место склада: <span>Кемерово</span></div>
        </div>
        <div class="more_broduct"><a href="">Больше товаров</a></div>

    </div>
    <div class="col-md-3 col-sm-3">

        <div class="best_product">
          <h3>Яблоки Голден</h3>
          <div class="product_photo">

          </div>

          <div class="product_price">100 руб./кг</div>
          <div class="product_adress">Место склада: <span>Кемерово</span></div>
        </div>
        <div class="more_broduct"><a href="">Больше товаров</a></div>

    </div>
    <div class="col-md-3 col-sm-3">

        <div class="best_product">
          <h3>Яблоки Голден</h3>
          <div class="product_photo">

          </div>

          <div class="product_price">100 руб./кг</div>
          <div class="product_adress">Место склада: <span>Кемерово</span></div>
        </div>
        <div class="more_broduct"><a href="">Больше товаров</a></div>

    </div>

  </div>

</section>
