<section class="product_item">
  <div class="col-md-3 col-sm-3">
    <%= render 'layouts/menu' %>
   </div>

  <div class="col-md-9 col-sm-9">
    <div class="katalog_link">
      <a href="" id="katalog_link_to_main"></a><a href="">Каталог</a><a href="">Фрукты</a><a href=""> Бананы</a>
    </div>
    <div class="clear"></div>
  </div>

  <div class="col-md-4 col-sm-4">
    <div class="product_slider"></div>
</div>

  <div class="col-md-5 col-sm-5">
    <div class="product_name">Бананы Лакатан</div>

    <div class="reting" id="product_item_reting">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
    <div class="clear"></div>
    <div class="product_prise">80 руб./кг</div>

    <div class="product_amount">
      <span>Количество</span>

      <input type="number" value="1"/>
      <span>кг (доступно 120 кг)</span>
    </div>

    <div class="seller_adreess">
      <div class="seller_address_leble">Место склада</div>
      <div class="seller_address_name">Ташкент(Узбекистан)</div>
    </div>

    <form action="" id="product_form">
      <button>Купить</button>
      <button>В корзину</button>
    </form>

    <div class="product_seller">
      <div class="seller_leble">Продавец</div>
      <div class="seller_name">ООО "АзияФрукт"</div>
    </div>

    <div class="seller_phone_cont">
      <div class="seller_phone_leble"> Телефон продавца</div>
      <div class="seller_phone">+7 923 720 2020</div>
    </div>

    <div class="product_description">
      <div class="product_description_lable">Описание</div>
      <div class="product_description_text">
        Бананы — одна из древнейших пищевых культур,
        а для тропических стран важнейшее пищевое растение и главная статья экспорта.
        Спелые бананы широко употребляются в пищу по всему миру, их используют при приготовлении большого количества блюд.
      </div>
    </div>

    <div class="product_more_info">
      <div class="product_more_info_lable">Дополнительная
      информация</div>
      <div class="product_more_info_text">Бананы могут зажариваться, или вариться как в очищенном, так и в неочищенном виде.</div>
    </div>
  </div>
<div class="clear"></div>
</section>