@import "mixins";
.main_menu
{
  background-color: #61cafe;

  h2{
    margin-top: 0;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    color: #fff;

  }
  a{
    display: block;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-top: solid 1px #fff;
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
    &:hover
    {
      color:$mine-color ;
    }
  }

  .frut, .sfrut, .vegetables
  {
    background-color:#61cafe;
    display: none;

    li{
      margin-left: 30px;
      list-style: none;

      a{
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border: none;
        line-height: 30px;
        height: 30px;
        &:hover
        {
          color: $mine-color;
        }
      }

    }
  }

}