<section class="footer">
  <div class="col-md-6 col-sm-6">
    <div class="logo">ШЁЛКОВЫЙ ПУТЬ</div>
    <div class="logo_description">Торговая площадка для предпринимателей</div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="footer_menu">
      <ul>
        <li><a href="">Фрукты</a></li>
        <li><a href="">Сухофрукты</a></li>
        <li><a href="">Овощи</a></li>
      </ul>
    </div>

    <div class="footer_contacts">
      <div class="mail">sholkovi_put@gmail.com</div>
      <div class="tel">8 800 233 445</div>
    </div>
  </div>
</section>