<section class="header">

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <a href="/" class="logo">ШЁЛКОВЫЙ ПУТЬ</a>
      <div class="logo_description">Торговая площадка для предпринимателей</div>
    </div>
    <div class="col-md-8 col-sm-8 header_btns">

      <form action="" class="header_search">
        <input type="text"/>
        <button type="submit"></button>
      </form>

      <a href="/home/about" class="about_us">О нас</a>
      <button class="korzina">Корзина</button>
      <div class="sign_in">
        Войти

        <div class="sign_in_form">
          <form action="" name="sign_in">
            <input type="text" placeholder="Ваш логин"/>
            <input type="text" placeholder="Ваш пароль"/>
            <button>Войти</button>
          </form>

          <a href="/registration/sign_in">Зарегистрироваться</a>
        </div>
      </div>
    </div>
  </div>
</section>
