<section class="header">

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="logo">ШЁЛКОВЫЙ ПУТЬ</div>
      <div class="logo_description">Торговая площадка для предпринимателей</div>
    </div>
    <div class="col-md-8 col-sm-8">

      <form action="" class="header_search">
        <input type="text"/>
        <button type="submit"></button>
      </form>

      <button class="about_us">О нас</button>
      <button class="korzina">Корзина</button>
      <button class="sign_in">Войти</button>
    </div>
  </div>
</section>
