<section class="main_menu">
  <h2>Каталог</h2>
  <nav>
    <a id="frut">Фрукты</a>
    <div class="frut">
      <ul>
        <li><a href="">Яблоки</a></li>
        <li><a href="">Груша</a></li>
        <li><a href="">Абрикос</a></li>
        <li><a href="">Черешня</a></li>
      </ul>
    </div>
    <a id="sfrut">Сухофрукты</a>
    <div class="sfrut">
      <ul>
        <li><a href="">Курага</a></li>
        <li><a href="">Урюк</a></li>
        <li><a href="">Чернослив</a></li>
        <li><a href="">Фундук</a></li>
        <li><a href="">Грецкий орех</a></li>
      </ul>
    </div>
    <a id="vegetables">Овощи</a>
    <div class="vegetables">
      <ul>
        <li><a href="">Картошка</a></li>
        <li><a href="">Морковь</a></li>
        <li><a href="">Лук</a></li>
        <li><a href="">Свекло</a></li>
      </ul>
    </div>
  </nav>
</section>