<section class="main_menu">
  <h2>Каталог</h2>
  <nav>
    <a id="frut">Фрукты</a>
    <div class="frut">
      <ul>
        <% @frut_subcategory.each do |subcategory| %>
            <li><a href=""><%= subcategory.name %></a></li>
        <% end %>
      </ul>
    </div>
    <a id="sfrut">Сухофрукты</a>
    <div class="sfrut">
      <ul>
        <% @sfrut_subcategory.each do |subcategory| %>
             <li><a href=""><%= subcategory.name %></a></li>
        <% end %>
      </ul>
    </div>
    <a id="vegetables">Овощи</a>
    <div class="vegetables">
      <ul>
        <% @ovoshi_subcategory.each do |subcategory| %>
            <li><a href=""><%= subcategory.name %></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</section>